@media screen and (min-width:393px){
    

    }
    #top{
        width: 100%;

    }
    #Tips-Tricks{
        width: 100%;

    }
    
        
    }
    
    .footer{
        width:100%
    }
    
}
